
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">             <!-- This is to include thymeleaf in an html page. -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jasmeen Kaur">
    <meta name="generator" content="Hugo 0.87.0">
    <title>InstaResponse</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Custom CSS stylesheets -->
    <link rel="stylesheet" href="css/homepage.css">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-5.1.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<!--The <header> element represents a container for introductory content or a set of navigational links.-->
<header>
    <div class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="assets/i-logo.png" width="30" alt="Instaclustr logo">
                <strong>nstaResponse</strong>
            </a>

            <!-- For smaller screen sizes, have the navbar toggler button. -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="d-flex align-items-end align-bottom">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link navlinks" href="#">Closed Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Active Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tours</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="assets/profile-logo.png" width="30" alt="profile logo">
                                Sam Smith
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <!-- Instaclustr image -->
    <div class="row mt-5">
        <img src="assets/insta-dual-from-pdf.png" id="instaclustr image" class="img-fluid" alt="instaclustr blocks image">
    </div>

    <!-- Navbar below Instaclustr image -->
    <div class="container-fluid bg-info p-4">
        <div class="row">
<!--            If we don't have any columns, then the column size is adjust according to the text size.-->
            <div class="col-md-6 d-flex justify-content-center">
                <a href="#" style="font-size: 1em" class="blue-links">
                    <img src="assets/white-star-icon.png" width="45" alt="star logo">
                    <strong> Announcements </strong>
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <a href="reportAnIssue" style="font-size: 1em" class="blue-links">
                    <img src="assets/msg-bubble.png" width="45" alt="message bubble logo">
                    <strong> Report a Critical Issue </strong>
                </a>
            </div>
        </div>
    </div>

    <!-- Active critical incidents cards -->
    <div class="album py-5 bg-light">
        <div class="container">
            <h2 class="m-2 mb-3"><strong> Active Critical Incidents </strong></h2>
            <p th:if="${#lists.isEmpty(incidents)}">Great! No critical incidents reported yet.</p>     <!-- show this message in case no critical incidents reported yet or incidents length is 0. -->

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="incident : ${incidents}">
                    <div class="card shadow-sm" style="min-height: 225px">                     <!-- minimum card height -->
                        <div class="card-body">
                            <h5 class="card-title text-center text-capitalize text-info" th:text="${incident.title}"></h5>      <!--https://stackoverflow.com/questions/25071985/thymeleaf-thtext-put-a-text-without-removing-html-structures-->
                            <br>
                            <div class="mb-5">
                                <p class="card-text text-capitalize" th:inline="text">
                                    <strong>Incident Owner: </strong> <em th:text="${incident.incidentOwner}"></em><br>
                                    <strong>Date Issued: </strong> <em th:text="${incident.date}"></em><br>
                                </p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center border-top">
                                <div>
                                    <a class="text-muted" href="displayIssue">View Description</a>
                                </div>
                                <small class="text-muted">Last updated 9 mins ago </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>

<script src="bootstrap-5.1.0/js/bootstrap.bundle.min.js"></script>

<!--Essential for interactivity and navbar toggler. -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="bootstrap-5.1.0/js/bootstrap.js"></script>

</body>
</html>







<!--This is the svg red circle for future use. This increase the navbar width.  -->
<!--            <svg height="100" width="100">-->
<!--                <circle cx="50" cy="50" r="6" stroke="black" stroke-width="0.5" fill="red" />-->
<!--            </svg>-->