<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">            <!--This is the XML namespace-->

<head>
    <title>Submit Critical Incident</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Jasmeen Kaur">
    <meta name="description" content="">

    <!--Bootstrap core CSS-->
    <link href="bootstrap-5.1.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>This incident has been recorded.</h1>
        <br>
        <strong>Description: </strong><span th:text="${reportForm.description}"></span><br>
        <br>
        <strong>Incident Owner: </strong><span th:text="${reportForm.incidentOwner}"></span><br>
        <br>
        <strong>Date Reported: </strong><span th:text="${reportForm.date}"></span><br>
        <br>
        <strong>Affected Users: </strong><span th:text="${reportForm.affectedUsers}"></span><br>
        <br>
        <strong>Additional Information: </strong><span th:text="${reportForm.additionalInfo}"></span><br>
        <br>
        <a href="/insta_response">Back to Home</a>

    </div>

</body>
</html>