.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.navbar-brand {
    font-weight: normal;
}

@media (max-width: 700px){
    .navbar-brand {
        display: none;
    }
}

/*FIXME*/
.blue-links {
    color: white;
    text-decoration: none;
    font-size: 100px;
}

.navlinks {
    color: black;
    text-emphasis-color: green;
}
